

{% extends "blog/base.html"%}
{% block content%}
<h1>about</h1>
       <p> 
       During my scripting languages class, I undertook a Python project that involved utilizing the Django framework to build
       a web application. My objective was to demonstrate my knowledge of Python programming and web development. I leveraged
       the extensive capabilities of Django to create a dynamic and easy-to-use platform that enabled users to manage various
       scripting tasks. The application boasted several features, including user authentication, SQL database storage, and a
       visually appealing user interface designed with HTML, CSS, and JavaScript. This project provided me with hands-on
       experience in Python scripting, web development, and database management, allowing me to further enhance my scripting
       language proficiency.
       </p>
{% endblock %}